.ticket-comprobante {
    font-family: 'Courier New', Courier, monospace; /*cambiamos el tipo de letra al tipico estilo de maquina de escribir, tambien la misma es monoespaciada */
    max-width: 450px;
    margin: auto;
    background-color: #fff;
    color: #000;
}

.ticket-titulo {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.ticket-separador {
    border-top: 1px dashed #000000;
    margin: 8px 0;
    opacity: 1; 
}

.ticket-cabecera-items {
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 0.25rem;
}

.ticket-total {
    font-size: 1.25rem;
    font-weight: bold;
    color: #198754;
}
