USE [RESTOBAR_DB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 2/7/2026 18:13:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](500) NOT NULL,
	[IdCategoriaPadre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasPorProducto]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasPorProducto](
	[IdProducto] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosPedido]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[DetalleEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[NroMesa] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NroMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosDePago]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosDePago](
	[IdMetodo] [int] IDENTITY(1,1) NOT NULL,
	[NombreMetodo] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[NroMesa] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechayHoraPedido] [datetime] NOT NULL,
	[PrecioTotal] [decimal](10, 2) NULL,
	[IdMetodo] [int] NULL,
	[IdEstadoPedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](50) NOT NULL,
	[DescripcionProducto] [varchar](150) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosImagenes]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosImagenes](
	[IdImagen] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[UrlImagen] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] NOT NULL,
	[NombreRol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](10) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [IdCategoriaPadre]) VALUES (1, N'Entradas', NULL)
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [IdCategoriaPadre]) VALUES (2, N'Plato Principal', NULL)
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [IdCategoriaPadre]) VALUES (3, N'Comida Cafeteria', NULL)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
INSERT [dbo].[CategoriasPorProducto] ([IdProducto], [IdCategoria]) VALUES (1, 1)
INSERT [dbo].[CategoriasPorProducto] ([IdProducto], [IdCategoria]) VALUES (1, 6)
INSERT [dbo].[CategoriasPorProducto] ([IdProducto], [IdCategoria]) VALUES (2, 1)
GO
INSERT [dbo].[DetallePedido] ([IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (14, 1, 1, CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (14, 10, 1, CAST(4500.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[EstadosPedido] ON 

INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [DetalleEstado]) VALUES (1, N'Pendiente')
INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [DetalleEstado]) VALUES (2, N'Finalizado')
SET IDENTITY_INSERT [dbo].[EstadosPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesas] ON 

INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [Estado]) VALUES (1, 7, 1)
INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [Estado]) VALUES (2, NULL, 1)
INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [Estado]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[Mesas] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodosDePago] ON 

INSERT [dbo].[MetodosDePago] ([IdMetodo], [NombreMetodo], [Activo]) VALUES (1, N'Efectivo', 1)
INSERT [dbo].[MetodosDePago] ([IdMetodo], [NombreMetodo], [Activo]) VALUES (2, N'Mercado Pago', 1)
INSERT [dbo].[MetodosDePago] ([IdMetodo], [NombreMetodo], [Activo]) VALUES (3, N'Transferencia', 1)
SET IDENTITY_INSERT [dbo].[MetodosDePago] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (1, 3, 1, CAST(N'2026-06-18T19:02:10.000' AS DateTime), CAST(418000.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (4, 1, 1, CAST(N'2026-06-29T21:39:09.000' AS DateTime), CAST(10000.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (5, 1, 1, CAST(N'2026-06-29T21:42:51.000' AS DateTime), CAST(32000.00 AS Decimal(10, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock], [Activo]) VALUES (1, N'Tabla de Fiambres', N'Seleccion de quesos y embutidos...', CAST(10000.00 AS Decimal(10, 2)), 30, 1)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock], [Activo]) VALUES (2, N'Empanadas Regionales', N'Tres empanadas de distinto sabor...', CAST(6000.00 AS Decimal(10, 2)), 30, 1)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock], [Activo]) VALUES (3, N'Pizza Fugazzeta', N'Pizza a la piedra rellena...', CAST(14000.00 AS Decimal(10, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (0, N'Admin')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Gerente')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'Mozo')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol], [Nombre], [Apellido], [Estado]) VALUES (1, N'admin', N'admin', 0, N'Admin', N'Admin', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol], [Nombre], [Apellido], [Estado]) VALUES (6, N'gerente', N'gerente', 1, N'Gerente', N'Gerente', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol], [Nombre], [Apellido], [Estado]) VALUES (7, N'mesero', N'mesero', 2, N'mesero', N'mesero', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Mesas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MetodosDePago] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [PrecioTotal]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProductosPedido]    Script Date: 2/7/2026 18:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento
CREATE   PROCEDURE [dbo].[SP_ModificarProductosPedido]
    @IdPedido INT, @IdProducto INT, @Cantidad INT, @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
            IF EXISTS (SELECT 1 FROM DetallePedido WHERE IdPedido = @IdPedido AND IdProducto = @IdProducto)
                UPDATE DetallePedido SET Cantidad += @Cantidad WHERE IdPedido = @IdPedido AND IdProducto = @IdProducto;
            ELSE
                INSERT INTO DetallePedido VALUES (@IdPedido, @IdProducto, @Cantidad, @PrecioUnitario);

            UPDATE Pedidos SET PrecioTotal += (@Cantidad * @PrecioUnitario) WHERE IdPedido = @IdPedido;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
