USE [master]
GO
/****** Object:  Database [RESTOBAR_DB]    Script Date: 18/6/2026 18:51:14 ******/
CREATE DATABASE [RESTOBAR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTOBAR_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTOBAR_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTOBAR_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTOBAR_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTOBAR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTOBAR_DB]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosPedido]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[DetalleEstado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[NroMesa] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[MesaUrlImagen] [varchar](500) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NroMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosDePago]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosDePago](
	[IdMetodo] [int] IDENTITY(1,1) NOT NULL,
	[NombreMetodo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[NroMesa] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechayHoraPedido] [datetime] NOT NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
	[IdMetodo] [int] NULL,
	[IdEstadoPedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](50) NOT NULL,
	[DescripcionProducto] [varchar](150) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosImagenes]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosImagenes](
	[IdImagen] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[UrlImagen] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] NOT NULL,
	[NombreRol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/6/2026 18:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](10) NOT NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DetallePedido] ([IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (10, 1, 1, CAST(12000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (10, 2, 2, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([IdPedido], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (11, 3, 5, CAST(4000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[EstadosPedido] ON 

INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [DetalleEstado]) VALUES (1, N'Pendiente')
INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [DetalleEstado]) VALUES (2, N'Finalizado')
SET IDENTITY_INSERT [dbo].[EstadosPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesas] ON 

INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [MesaUrlImagen], [Estado]) VALUES (1, 3, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZIuCKX7-ftZfl1D7HHwKstHeF3Pmy8xl5mw&s', 1)
INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [MesaUrlImagen], [Estado]) VALUES (2, 3, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZIuCKX7-ftZfl1D7HHwKstHeF3Pmy8xl5mw&s', 1)
INSERT [dbo].[Mesas] ([NroMesa], [IdUsuario], [MesaUrlImagen], [Estado]) VALUES (3, NULL, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZIuCKX7-ftZfl1D7HHwKstHeF3Pmy8xl5mw&s', 1)
SET IDENTITY_INSERT [dbo].[Mesas] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (10, 1, 1, CAST(N'2026-06-18T17:16:19.557' AS DateTime), CAST(62000.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (11, 1, 2, CAST(N'2026-06-18T17:58:33.477' AS DateTime), CAST(20000.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[Pedidos] ([IdPedido], [NroMesa], [IdUsuario], [FechayHoraPedido], [PrecioTotal], [IdMetodo], [IdEstadoPedido]) VALUES (12, 3, 2, CAST(N'2026-06-18T18:23:21.573' AS DateTime), CAST(71000.00 AS Decimal(10, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock]) VALUES (1, N'Fugazzeta', N'Pizza a la piedra rellena de queso mozzarella con cebolla cruda sobre la masa. Esta pizza es sin salsa.', CAST(12000.00 AS Decimal(10, 2)), 4)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock]) VALUES (2, N'Milanesa napolitana', N'Napolitana con guarnición', CAST(25000.00 AS Decimal(10, 2)), 6)
INSERT [dbo].[Productos] ([IdProducto], [NombreProducto], [DescripcionProducto], [Precio], [Stock]) VALUES (3, N'Empanada', N'Empanada de carne picada a cuchillo, pollo o de J&Q', CAST(4000.00 AS Decimal(10, 2)), 40)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductosImagenes] ON 

INSERT [dbo].[ProductosImagenes] ([IdImagen], [IdProducto], [UrlImagen]) VALUES (1, 1, N'https://preview.redd.it/argentinian-stuffed-pizza-fugazzeta-v0-jssh9gui8hxe1.jpg?width=640&crop=smart&auto=webp&s=74a25d84cd1f6d187272d85208cdc80058e5154e')
SET IDENTITY_INSERT [dbo].[ProductosImagenes] OFF
GO
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (0, N'Admin')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Gerente')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'Mozo')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol]) VALUES (1, N'admin', N'admin', 0)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol]) VALUES (2, N'gerente', N'gerente', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Contrasena], [IdRol]) VALUES (3, N'mesero', N'mesero', 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Mesas] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [PrecioTotal]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Mesas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadosPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdMetodo])
REFERENCES [dbo].[MetodosDePago] ([IdMetodo])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([NroMesa])
REFERENCES [dbo].[Mesas] ([NroMesa])
GO
ALTER TABLE [dbo].[ProductosImagenes]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
USE [master]
GO
